* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

header {
	background-color: var(--header-bg);
	padding: var(--padding-1);
	font-size: 1.2rem;
	font-weight: bold;
}
main {
	background-color: rgb(158, 207, 158);
	flex-grow: 1;
	padding: var(--padding-1);
}
footer {
	background-color: var(--header-bg);
	padding: var(--padding-1);
}